root{
  --yellowColor: #ffc107;
  --secondaryColor: #0e6253;
  --whiteColor: #fff;
  --blackColor: #222;
  --softGreenColor: #d9f2ee;
  --darkGrayColor: #a7a7a7;
  --greyColor: #f5f5f5;
}

.{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Open Sans", sans-serif;
}

body{
  width: 100%
  height: auto;
  display: flex;
}

.sidebar{
  height: 100%;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2%;
  background: #ffc107;
  color: var(--whiteColor);
}

.sidebar-menus{
  display:flex;
  flex-direction: column;
}

.sidebar-menus, .sidebar-logout{
  padding: 5% 8%;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  text-decoration: none;
  color: var(--whiteColor);
}

.sidebar-menus ion-icon, .sidebar-logout ion-icon {
  font-size: 20px;
}

.sidebar-menus hover, .sidebar-logout :hover{
  background-color: Green;
  background-radius: 30px;
}


.main{
  width: 100%;
  height: max-content;
  min-height: 100vh;
  padding: 2%;
  background: palegreen;
  margin-left: 290px;
}


.main-navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* will hide menu toggle first, this one will appear on mobile screen Later */
.menu-toggle{
  display: none;
}


.search{
  width: 60%;
  height: 40px;
  display: flex;
  justify-content: flex;
  bbackground-color: var(--whiteColor);
  border-radius: 20px;
}

.search input{
  width: 80%;
  height: 100%;
  padding: 20px;
  border: none;
  border-radius: 20px;
}


.search-btn{
  background-color: yellow;
  color: black;
  border: none;
  border-radius: 20px;
  width: 120px;
  cursor: pointer;
}


.search :hover{
  box-shadow: dimgray;
}


.search-btn :hover{
  background-color: darkgreen;
}


.profile{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}


.cart, .user{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 20px;
  color: yellow;
  text-decoration: none;
  padding: 0 10px;
  height: 40px;
  border-radius: 50%;
}


.cart:hover, .user:hover{
  box-shadow: dimgray;
}


.main-highlight{
  margin: 3% 0;
  padding: 2%;
  background-color: darkgreen;
  border-radius: 8px;
}


.main-header{
  display: flex;
  width: 100px;
  justify-content: space-between;
  align-items: center;
}